<mat-sidenav-container class="component-drawer-container">
  <mat-sidenav-content>
    <div id="workspace-content">
        <button mat-flat-button color="primary" (click)="newProject()">Create New Project</button>
        <div id="project-name" class="center" *ngIf="project$ | async as project">
            <h1 class="project-name">{{project.title}}</h1>
        </div>

        <div id="top-element" class="resizeable-content center">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let file of files$ | async">
                    <div>
                        <a target="_blank" rel="noopener noreferrer" (click)="displayAudioFile(file)">{{file.filename}}</a>
                    </div>
                </mat-list-option>
            </mat-selection-list>
            <h1 id="audio-name" class="center">Audio File Name</h1>
            <p id="wave-html"></p>
            <p id="wave-upload-html"></p>
            <div id="wave-container"></div>
                <button id="rewind" mat-icon-button color="primary" (click)="skipBack()" aria-label="Rewind button">
                    <mat-icon>fast_rewind</mat-icon>
                </button>
                <button id="play" mat-icon-button color="primary" (click)="play()" aria-label="Play button">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button id="pause" mat-icon-button color="primary" (click)="pause()" class="hidden" aria-label="Pause Button">
                    <mat-icon>pause</mat-icon>
                </button>
                <button id="skip" mat-icon-button color="primary" (click)="skipForward()" aria-label="Skip Button">
                    <mat-icon>fast_forward</mat-icon>
                </button>
            <label for="wav">Select audio:</label>
            <input type="file" id="input" (change)="handleFileInput($event.target.files)"/>
            <audio id="sound"></audio>

            <button id="upload-button" (click)="upload()">Upload</button>
        </div>

        <div id="bottom-element" class="resizeable-content center">
            <div id="bottom-content">
                <h1 id="lyric-doc-name" class="center" *ngIf="project$ | async as project">{{project.textDoc}}</h1>
                <br/>
                <textarea id="lyric-doc" placeholder="Type Here..." rows="50" cols="100"></textarea>
            </div>
        </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #projectInfo class="project-info-container" mode="side" position="end" opened>
    <app-project-detail [project$]="project$"></app-project-detail>
  </mat-sidenav>
</mat-sidenav-container>
