.adjustable {
    resize: vertical;
    overflow: auto;
}

.resizable-content {
    min-height: 30px;
    min-width: 30px;
    resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
}

.project-name {
    font-size: 22px;
    font-weight: bold;
}

#workspace-content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#new-workspace-prompt {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#wave-container {
    background-color: white;
}

.center {
    text-align: center;
}

mat-form-field {
  margin-right: 12px;
}

.input-headline {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}

.input-project-name {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
}

.right-button {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    display: none;
}