.adjustable {
    resize: vertical;
    overflow: auto;
}

.resizable-content {
    min-height: 30px;
    min-width: 30px;
    resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
}

#workspace-content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#wave-container {
    background-color: white;
}

.center {
    text-align: center;
}