<!-- <script src="https://unpkg.com/wavesurfer.js@4.0.1/dist/wavesurfer.js"></script> -->

<body>
    <div id="workspace-content">
        <div id="project-name" class="center">
            <header>Project Name</header>
        </div>

        <div id="top-element" class="resizeable-content">
            <h1 class="center">Audio File Name</h1>
            <div id="wave-container"></div>
                <button ng-click="playPause()">Play/Pause</button>
            <label for="wav">Select audio:</label>
            <input type="file" id="input"/>
            <audio id="sound"></audio>

        </div>

        <div id="bottom-element" class="resizeable-content">
            <h1 class="center">Lyric Document Name</h1>
            <div contenteditable="true">
                <p>Type lyrics here...</p>
            </div>
        </div>
    </div>
</body>
