::ng-deep :root {
  --color-background-primary: #222;
  --color-background-secondary: DarkOliveGreen;
  --color-primary: LemonChiffon;
  --color-accent: CadetBlue;
  --font-text: 'Open Sans', sans-serif;
  --font-title: 'Pacifico', cursive;
  background-color: var(--color-background-primary);
}

body {
  font-family: var(--font-text);
  color: var(--color-primary);
}

h1 {
  display: inline-block;
  font-family: var(--font-title);
  color: var(--color-accent);
  font-size: 30px;
}

.page-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main-component"
    "footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "logo navbar navbar";
  border-bottom: 1px solid var(--color-accent);
}

.main-component {
  grid-area: main-component;
}

.footer {
  grid-area: footer;
}

.content-layout {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-areas:
    "sidebar-left content sidebar-right";
}

.content {
  grid-area: content;
}

.sidebar-left {
  grid-area: sidebar-left;
  background-color: var(--color-background-secondary);
}

.sidebar-right {
  grid-area: sidebar-right;
}

.navbar {
  grid-area: navbar;
  display: inline-flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 1em;
}

.selected {
  color: var(--color-accent);
}
