.card-deck-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
  margin: 10px;
}

button {
  margin: 10px;
}

@media only screen and (max-width: 992px) {
  .card-deck-container { grid-template-columns: 1fr 1fr; }
}

@media only screen and (max-width: 600px) {
  .card-deck-container { grid-template-columns: auto; }
}
