<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/../app.component.css">
</head>
<body>
  <div class="content-layout">
    <div class="content">
      <h2>Projects</h2>
      <ul class="projects">
        <li *ngFor="let project of projects" 
          [class.selected]="project === selectedProject"
          (click)="onSelect(project)">
          <span>{{project.title}}</span>
        </li>
      </ul>
    </div>
    <app-project-info [project]="selectedProject" class="sidebar-left"></app-project-info>
  </div>
</body>
