<mat-list>
  <mat-list-item role="listitem">
    <span class="logo primary">E</span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<mat-nav-list role="list">
  <a mat-list-item role="listitem" routerLink="/user-profile" routerLinkActive="active" matTooltip="Profile" matTooltipPosition="right">
    <mat-icon>account_circle</mat-icon>
  </a>
  <mat-list-item role="listitem" (click)="logout()" matTooltip="Logout" matTooltipPosition="right">
    <mat-icon>lock</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <a mat-list-item role="listitem" routerLink="/main-feed" routerLinkActive="active" matTooltip="Main Feed" matTooltipPosition="right">
    <mat-icon>dashboard</mat-icon>
  </a>
  <a mat-list-item role="listitem" routerLink="/discover" routerLinkActive="active" matTooltip="Discover" matTooltipPosition="right">
   
    <mat-icon>explore</mat-icon>
  </a>
  <a mat-list-item role="listitem" routerLink="/projects" routerLinkActive="active" matTooltip="Projects Overview" matTooltipPosition="right">
    <mat-icon>source</mat-icon>
  </a>
  <a mat-list-item role="listitem" routerLink="/workspace" routerLinkActive="active" matTooltip="Workspace" matTooltipPosition="right">
    <mat-icon>picture_in_picture</mat-icon>
  </a>
</mat-nav-list>
