<mat-nav-list role="list">
  <mat-list-item role="listitem" matTooltip="Home">
    <mat-icon aria-hidden="false" aria-label="profile icon">account_circle</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" matTooltip="Settings">
    <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem" matTooltip="Main Feed">
    <mat-icon aria-hidden="false" aria-label="feed icon">dashboard</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" matTooltip="Discover">
    <mat-icon aria-hidden="false" aria-label="discover icon">explore</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" matTooltip="Projects">
    <mat-icon aria-hidden="false" aria-label="projects icon">source</mat-icon>
  </mat-list-item>
  <mat-list-item role="listitem" matTooltip="New Project">
    <mat-icon aria-hidden="false" aria-label="create new icon">add_box</mat-icon>
  </mat-list-item>
</mat-nav-list>
