.header{
  padding: 30px;
  text-align: center;
  background: white;
}

.subheader {
  padding: 50px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-container {
    text-align: center;
}

.profile-header {
  padding: 20px;
  margin-top: 20px;
}

.profile-header__left-column {
  float: left;
  width: 25%;
}

.profile-header__right-column{
  float: left;
  width: 75%;
}

.profile-header__bio {
  float: left;
  text-align: left;
  padding: 30px;
  border-color: black;
  width: 75%;
}

img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

#myInput {
  background-image: url(''); 
  background-position: 10px 12px; 
  background-repeat: no-repeat;
  width: 100%; 
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px;
  text-decoration: none; 
  font-size: 18px; 
  color: black; 
  display: block; 
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
