.header{
  padding: 30px;
  text-align: center;
  background: white;
}

.profile-header {
  background: white;
  padding: 20px;
  padding-bottom: 200px;
  margin-top: 20px;
}

.profile-header__left-column {
  float: left;
  width: 25%;
  text-align: center;
}

.profile-header__right-column{
  float: left;
  width: 75%;
}

.profile-header__bio {
  float: left;
  text-align: left;
  padding: 30px;
  background-color: white;
  border-color: black;
}

.profile-header__counts-column {
  float: right;
  width: 20%;
  align-content: center;
  text-align: center;
  background-color:white;
  padding: 1px;
  border-color: black;
}

.profile-header__right-buttons {
  align-content: right;
  padding-right: 30px;
  text-align: right;
}

.profile-posts {
  text-align: left;
  padding: 30px;
  background: white;
}

.profile-posts__left-column {
  float: left;
  width: 25%;
  text-align: center;
}

.profile-posts__right-column {
  float: left;
  width: 75%;
  text-align: left;
}

.profile-snippets {
  text-align: center;
}

.profile-tags {
    float: left;
    text-align: left;
    padding-left: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left-column {
  float: left;
  width: 75%;
}
.right-column {
  float: right;
  width: 25%;
  background-color:#f1f1f1;
  padding-left: 20px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

* {
    box-sizing: border-box;
}