<mat-toolbar>
  <span>Profile</span>
</mat-toolbar>
<mat-card class= "profile-card" *ngFor= "let profile of profiles$ | async">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{profile.fullName}}</mat-card-title>
        <mat-card-subtitle>{{profile.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          {{profile.bio}}
        </p>    
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>FOLLOW</button>
        <button mat-button a routerLink= "/workspace">INVITE TO WORKSPACE</button>
    </mat-card-actions>


  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Snippets
      </mat-panel-title>
      <mat-panel-description>
        Check out my snippets!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor= "let snippet of profile.snippets">
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

<div> Tags:
  <mat-chip-list aria-label= "Tags">
    <mat-chip *ngFor="let tag of profile.tags">
    </mat-chip>
  </mat-chip-list>
</div>  
</mat-card>

<div> Posts:
<mat-card class= "profile-post">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>John Doe</mat-card-title>
        <mat-card-subtitle>johndoe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Excited to join Ensemble! This is awesome!
        </p>    
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="Teal" aria-label="Like">
          <mat-icon>favorite</mat-icon>
        </button>  
    </mat-card-actions>
    <mat-card-footer>
        07/09/20 at 10:30 AM
    </mat-card-footer>
</mat-card>
</div>
