<div *ngIf="project$ | async as project">
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let file of files$ | async">
      <div class="list-item-content">
        <a target="_blank" rel="noopener noreferrer" href="{{file.fileUrl}}">{{file.filename}}</a>
        <span class="spacer"></span>
        <button mat-icon-button matTooltip="Open in Workspace">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <input type="file" name="file" (change)="upload(project, $event)">
</div>
