<div *ngIf="project$ | async as project">
  <mat-tab-group>
    <mat-tab label="Files">
      <mat-selection-list [multiple]="false">
        <mat-list-item>
          <button mat-stroked-button [disabled]="isUploading">
            <label for="upload">
              <span>Upload File</span>
              <input type="file" name="file" id="upload" hidden (change)="upload(project, $event)" [disabled]="isUploading">
            </label>
          </button>
          <mat-spinner diameter="20" *ngIf="isUploading"></mat-spinner>
        </mat-list-item>
        <mat-list-option *ngFor="let file of files$ | async">
          <div class="mat-list-item-content">
            <span>{{file.filename}}</span>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="filemenu" aria-label="file actions menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #filemenu="matMenu">
            <button mat-menu-item>
              <a [href]="file.fileUrl" [download]="file.filename">Download</a>
            </button>
            <button mat-menu-item (click)="deleteFile(project, file)">Delete</button>
          </mat-menu>
        </mat-list-option>
      </mat-selection-list>
    </mat-tab>
    <mat-tab label="Settings">
      <mat-list class="settings" role="list of project settings">
        <mat-list-item>
          <button mat-flat-button color="primary" (click)="manageCollaborators()">View/Edit Collaborators</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button color="primary" (click)="manageTags()">Manage Tags</button>
        </mat-list-item>
        <mat-list-item>
          <mat-chip-list aria-label="project tags">
            <mat-chip *ngFor="let tag of project.tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button color="warn" (click)="deleteProject(project)">Delete Project</button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
