/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100vh; 
}

body { 
  margin: 0; 
  font-family: "Open Sans", sans-serif;
}

a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 2em;
}

.vertical-center-container {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-center-container {
  text-align: center;
}

.app-sidenav-container {
  width: 100vw;
  height: 100vh;
}

.component-drawer-container {
  width: 100%;
  height: 100%;
}

.project-info-container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.active .mat-list-item-content {
   color: inherit;
}

.active .mat-icon {
   color: inherit;
}

.mat-list-text * {
  margin-top: auto;
  margin-bottom: auto;
}

.chat-drawer-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-channel {
  overflow: auto;
  flex: 1 1 auto;
}

.list-item-content {
  display: flex;
}

.mat-list-base .mat-list-item.chat-entry .mat-list-item-content, 
.mat-list-base .mat-list-option.chat-entry .mat-list-item-content {
  align-items: flex-start;
}

.mat-list-base .mat-list-item.chat-entry {
  height: auto;
  padding: 5px 0;
}

.chat-entry .mat-icon {
  margin-right: 5px;
}

.chat-entry p {
  margin-top: auto;
  margin-bottom: auto;
}

.mat-form-field.chat-form {
  width: calc(100% - 60px);
  padding: 30px;
}
